#main-about{
  background-color: $grayBack;
  padding:8rem 0rem;
  position: relative;
  overflow: hidden;
  .row{
    display: flex;
    justify-content: center;
    @media only screen and (min-width: $minWidth) and (max-width: $maxWidth) {
      flex-direction: column;
    }
    .col-md-8{
      margin-top: 10rem;
      h1{
        font-family: $MerriLI_font;
        text-align: center;
        letter-spacing: 2px;
        &:before{
          background-image: url(../img/marks.svg);
          background-repeat: no-repeat;
          background-position: center;
          content: '';
          height: 52px;
          margin: 0 auto;
          position: absolute;
          top: -70%;
          left: 0;
          right: 0;
          width: 60px;
        }
        &:after{
          height: 100px;
          display: block;
          width: 1px;
          background: white;
          border-right: 1px white;
          content: '';
          bottom: -125%;
          position: absolute;
          right: 50%;
          @media only screen and (min-width: $minWidth) and (max-width: $maxWidth) {
            bottom: -70%;
          }
        }
      }
    }
    .about-items{
      &:nth-child(2){
        margin-top: 15rem;
        z-index: 1;
        .col-md-4{
          background-image: url("../img/Sections/image1-about.jpg");
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          height: 26rem;
          background-color: $black_color;
          position: relative;
          &:before{
            content: '01.';
            font-family: $PoppinsB_font;
            position: absolute;
            top: -12%;
            left: -10%;
            font-size: 5rem;
            color: white;
            @media only screen and (min-width: $minWidth) and (max-width: $maxWidth) {
              left: 0%;
            }
          }
          &:after{
            content: '';
            opacity: .4;
            position: absolute;
            z-index: -1;
            background-image: url(../img/dots-box.svg);
            height: 188px;
            bottom: -17%;
            right: -22%;
            width: 188px;
          }
        }
        .col-md-8{
          margin: 0;
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding-left: 5rem;
          @media only screen and (min-width: $minWidth) and (max-width: $maxWidth) {
            padding: 1rem;
          }
          h6{
            font-family: $PoppinsL_font;
            font-size: 0.9rem;
            letter-spacing: 2px;
            font-weight: bold;
          }
          h2{
            font-family: $MerriL_font;
            font-weight: bold;
            letter-spacing: 2px;
            position: relative;
            margin-bottom: 2rem;
            &:before{
              content: '';
              border-top: 1.5px solid #fff;
              position: absolute;
              bottom: -55%;
              left: -7%;
              width: 11%;
            }
          }
          p{
            font-family: $PoppinsL_font;
            font-size: 0.8rem;
            padding-left: 3rem;
          }
        }
      }
      &:nth-child(3){
        margin-top: 15rem;
        z-index: 1;
        @media only screen and (min-width: $minWidth) and (max-width: $maxWidth) {
          margin-top: 5rem;
        }
        .col-md-4{
          background-image: url("../img/Sections/image2-about.jpg");
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          height: 26rem;
          background-color: $black_color;
          position: relative;
          &:before{
            content: '02.';
            font-family: $PoppinsB_font;
            position: absolute;
            top: -12%;
            right: -10%;
            font-size: 5rem;
            color: white;
            @media only screen and (min-width: $minWidth) and (max-width: $maxWidth) {
              right: 0%;
            }
          }
          &:after{
            content: '';
            opacity: .4;
            position: absolute;
            z-index: -1;
            background-image: url(../img/dots-box.svg);
            height: 188px;
            bottom: -17%;
            left: -22%;
            width: 188px;
          }
        }
        .col-md-8{
          margin: 0;
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding-left: 5rem;
          @media only screen and (min-width: $minWidth) and (max-width: $maxWidth) {
            padding: 1rem;
          }
          h6{
            font-family: $PoppinsL_font;
            font-size: 0.9rem;
            letter-spacing: 2px;
            font-weight: bold;
          }
          h2{
            font-family: $MerriL_font;
            font-weight: bold;
            letter-spacing: 2px;
            position: relative;
            margin-bottom: 2rem;
            &:before{
              content: '';
              border-top: 1.5px solid #fff;
              position: absolute;
              bottom: -55%;
              left: -7%;
              width: 11%;
            }
          }
          p{
            font-family: $PoppinsL_font;
            font-size: 0.8rem;
            padding-left: 3rem;
          }
        }
      }
      &:nth-child(4){
        margin-top: 15rem;
        z-index: 1;
        .col-md-4{
          background-image: url("../img/Sections/image3-about.jpg");
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          height: 26rem;
          background-color: $black_color;
          position: relative;
          &:before{
            content: '03.';
            font-family: $PoppinsB_font;
            position: absolute;
            top: -12%;
            left: -10%;
            font-size: 5rem;
            color: white;
            @media only screen and (min-width: $minWidth) and (max-width: $maxWidth) {
              left: 0%;
            }
          }
          &:after{
            content: '';
            opacity: .4;
            position: absolute;
            z-index: -1;
            background-image: url(../img/dots-box.svg);
            height: 188px;
            bottom: -17%;
            right: -22%;
            width: 188px;
          }
        }
        .col-md-8{
          margin: 0;
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding-left: 5rem;
          @media only screen and (min-width: $minWidth) and (max-width: $maxWidth) {
            padding: 1rem;
          }
          h6{
            font-family: $PoppinsL_font;
            font-size: 0.9rem;
            letter-spacing: 2px;
            font-weight: bold;
          }
          h2{
            font-family: $MerriL_font;
            font-weight: bold;
            letter-spacing: 2px;
            position: relative;
            margin-bottom: 2rem;
            &:before{
              content: '';
              border-top: 1.5px solid #fff;
              position: absolute;
              bottom: -55%;
              left: -7%;
              width: 11%;
            }
          }
          p{
            font-family: $PoppinsL_font;
            font-size: 0.8rem;
            padding-left: 3rem;
          }
        }
      }
    }
  }
}
#some-about{
  background-color: $gray_color;
  padding:8rem 0rem;
  position: relative;
  .col-md-10{
    display: flex;
    margin: 0 auto;
    @media only screen and (min-width: $minWidth) and (max-width: $maxWidth) {
      flex-direction: column;
    }
    .some-info{
      width: calc(100%/3);
      @media only screen and (min-width: $minWidth) and (max-width: $maxWidth) {
        width: 100%;
        text-align: center;
        margin-bottom: 4rem;
      }
      h3{
        font-family: $MerriB_font;
        font-size: 1.5rem;
        letter-spacing: 3px;
        margin-bottom: 3rem;
        position: relative;
        &:before{
          content: '';
          border-top: 1.5px solid #fff;
          position: absolute;
          bottom: -70%;
          left: 0%;
          width: 16%;
        }
      }

      .some-text{
        margin-bottom: 3rem;
        p{

          &:nth-child(1){
            font-family: $PoppinsB_font;
            font-size: 0.9rem;
          }
          &:nth-child(2){
            font-family: $PoppinsL_font;
            font-size: 0.9rem;
          }
          &:nth-child(3){
            font-family: $PoppinsL_font;
            font-size: 0.9rem;
          }
        }
      }
    }
  }
}
#play{
  background-color: $grayBack;
  padding:0rem 0rem 5rem 0;
  position: relative;
  .col-md-12{
    background-image: url("../img/Sections/image-play.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 30rem;
    background-color: $whiteWopacity_color;
    display: flex;
    align-items: center;
    justify-content: center;
    button{
      border-radius: 50%;
      height: 6rem;
      width: 6rem;
      border: transparent;
      background: black;
      color: white;
      cursor: pointer;
      font-family: $PoppinsB_font;
      letter-spacing: 2px;
    }
  }
}
