body{
  color:$white_color!important;
}

.vh-100{
  height: 100vh;
}
#sitenavbar{
  color: white;
  margin: 2rem 1rem;
  @media only screen and (min-width: $minWidth) and (max-width: $maxWidth) {
    background-color: $grayBack;
    margin: 0;
    border-bottom: 1px solid #5328fe;
  }
  .nav-item{
    padding: 0 1rem;
  }
  .active{
    position: relative;
    &:after{
      background-color: #5328fe;
      content: '';
      height: 60%;
      left: -5%;
      position: absolute;
      width: 50%;
      z-index: -1;
      top: -5%;
      @media only screen and (min-width: $minWidth) and (max-width: $maxWidth) {
        height: 50%;
        right: 15%;
        bottom: 25%;
        left: auto;
        top: auto;
      }
    }
  }
  a{
     font-size: 14px;
letter-spacing: 1px;
line-height: 24px;
color: rgb(254,254,254);
font-family: $PoppinsL_font;
text-align: right;
position: relative;

  }
}
