
#main{
  height: 100vh;
  background-color: #1a1a1a;
  width: 100%;
  background-image: url(../img/Sections/main.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: #fff;
  height: 100vh;
  position: relative;
  .row{
    height: 100%;
    align-items: center;
    justify-content: center;
    .main-social{
      position: absolute;
      transform: rotate(-90deg);
      left: -4%;
      top: 48%;
      @media only screen and (min-width: $minWidth) and (max-width: $maxWidth) {
        left: -23%;
      }
      a{
        padding: 0rem 0.5rem;
        font-size: 12px;
        letter-spacing: 1px;
        line-height: 24px;
        color: rgb(254,254,254);
        font-family: $MerriL_font;
        text-align: center;
        text-decoration: none;
        @media only screen and (min-width: $minWidth) and (max-width: $maxWidth) {
          font-size: 8px;
        }
        &:hover{
          color: #5328fe;
        }
      }
    }
    .main-explore{
      position: absolute;
      transform: rotate(-90deg);
      right: 0%;
      bottom: 52%;
      @media only screen and (min-width: $minWidth) and (max-width: $maxWidth) {
        right: -4%;
      }
      a{
        font-size: 14px;
        letter-spacing: 2px;
        line-height: 32px;
        color: $white_color;
        font-family: $PoppinsL_font;
        position: relative;
        text-decoration: none;
        @media only screen and (min-width: $minWidth) and (max-width: $maxWidth) {
          font-size: 8px;
        }
        &:before{
          content: '';
          border-top: 1.5px solid #fff;
          position: absolute;
          bottom: 40%;
          left: -65%;
          width: 48%;
        }
        &:hover{
          color: #5328fe;
        }
      }
    }
    .main-container{
      width: 68%;
      @media only screen and (min-width: $minWidth) and (max-width: $maxWidth) {
        width: 80%;
      }
      h6{
        font-size: 14px;
        letter-spacing: 5px;
        line-height: 68px;
        color: $white_color;
        font-family: $PoppinsL_font;
        font-weight: bold;
        @media only screen and (min-width: $minWidth) and (max-width: $maxWidth) {
          font-size: 10px;
        }
      }
      h1{
        font-size: 58px;
        letter-spacing: 7px;
        line-height: 68px;
        color: $white_color;
        font-family: $MerriL_font;
        font-weight: bold;
        margin-bottom: 3rem;
        position: relative;
        @media only screen and (min-width: $minWidth) and (max-width: $maxWidth) {
          font-size: 22px;
        }
        &:before{
          content: '';
          border-top: 2px solid #fff;
          position: absolute;
          bottom: -20%;
          left: -6%;
          width: 12%;
          @media only screen and (min-width: $minWidth) and (max-width: $maxWidth) {
            left: 0;
          }
        }
      }
      h2{
        font-family: $MerriL_font;
      }
      p{
        width: 497px;
        height: 187px;
        font-size: 14px;
        letter-spacing: 0px;
        line-height: 32px;
        color: $PoppinsL_font;
        font-family: $PoppinsL_font;
        font-weight: 300;
        @media only screen and (min-width: $minWidth) and (max-width: $maxWidth) {
          width: 100%;
          font-size: 12px;
          line-height: 16px;
        }
      }
      a{
        position: relative;
        z-index: 2;
        font-size: 14px;
        letter-spacing: 1px;
        line-height: 32px;
        color: $white_color;
        font-family: $MerriL_font;
        font-weight: bold;
        &:before{
          content: '';
          background-color: #5328fe;
          width: 100%;
          height: 100%;
          position: absolute;
          left: -35%;
          top: -50%;
          opacity: 1;
          z-index: -1;
          transition: all 0.6s 0s cubic-bezier(0.7, 0, 0.3, 1);
        }
      }
    }
  }
}
#hello{
  background-color: #111;
  min-height: 100vh;
  width: 100%;
  position: relative;
  z-index: 1;
  overflow: hidden;
  &:before{
    content: 'About Us';
    font-family: PoppinsBold;
    color: #0f0f0f;
    position: absolute;
    bottom: 50%;
    left: 5%;
    font-size: 12rem;
    color: $blackWopacity_color;
    z-index: -1;
    letter-spacing: 2rem;
  }
  .container,.row{
    min-height: 100%;
    height: 100%;
  }
  .hello-container{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 4rem;
    .hello-picture{
      position: relative;
      margin-top: 5%;
      width: 20rem;
      height: 25rem;
      background-image: url("../img/Sections/about.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      &:after{
        content: '';
        opacity: .4;
        position: absolute;
        z-index: -1;



        background-image: url(../img/dots-corner.svg);
        height: 62px;
        top: 50px;
        left: -72px;
        width: 62px;
      }
      &:before{
        content: '';
        opacity: .4;
        position: absolute;
        z-index: -1;


        background-image: url(../img/dots-box.svg);
        height: 188px;
        bottom: 50px;
        right: -144px;
        width: 188px;
      }

      .picture-container{

        &:after{
          height: 100px;
          display: block;
          width: 1px;
          background: white;
          border-right: 1px white;
          content: '';
          bottom: -8%;
          position: absolute;
          right: 50%;
        }
      }
    }
  }
  .hello-quote{
    text-align: center;
    margin: 0 auto;
    h2{
      position: relative;
      z-index: 1;
      display: inline-block;
      font-size: 58px;
      letter-spacing: 7px;
      line-height: 68px;
      color: rgb(255,255,255);
      font-family:$MerriL_font;
      font-weight: bold;
      text-align: center;
      @media only screen and (min-width: $minWidth) and (max-width: $maxWidth) {
        font-size: 40px;
      }
      &:after{
        background-color: #5328fe;
        bottom: 0;
        content: '';
        height: 40%;
        left: 0;
        position: absolute;
        width: 100%;
        z-index: -1;
      }
    }
    blockquote{
      p{
        margin: 0 auto;
        width: 770px;
        height: 170px;
        font-size: 18px;
        line-height: 40px;
        color: rgb(255,255,255);
        font-family: $MerriL_font;
        font-weight: 300;
        font-style: italic;;
        text-align: center;
        @media only screen and (min-width: $minWidth) and (max-width: $maxWidth) {
          width: 100%;
          font-size: 12px;
          line-height: 25px;
        }
      }
      cite{
        font-family: $PoppinsL_font;
        font-style: normal;
        font-size: 0.9rem;
      }
    }
  }
}
#works{
  background-color: $grayBack;
  padding:8rem 0rem;
  .col-md-10{
    margin: 0 auto;
    position: relative;
    z-index: 1;
    &:before{
      content: '03.';
      font-family: $PoppinsB_font;
      position: absolute;
      bottom: -95%;
      left: -15%;
      font-size: 10rem;
      color:$blackWopacity_color;
      z-index: -1;
    }
    h1{
      position: relative;
      margin-bottom: 3rem;
      font-size: 58px;
      letter-spacing: 7px;
      line-height: 68px;
      color: $white_color;
      font-family: $MerriB_font;
      @media only screen and (min-width: $minWidth) and (max-width: $maxWidth) {
        font-size: 40px;
      }
      &:before{
        content: '';
        border-top: 2px solid #fff;
        position: absolute;
        bottom: -30%;
        left: -5%;
        width: 12%;
      }
    }
    p{
      width: 499px;
      height: 79px;
      font-size: 14px;
      letter-spacing: 0px;
      line-height: 32px;
      color: rgb(255,255,255);
      font-family: $PoppinsL_font;
      font-weight: 300;
      @media only screen and (min-width: $minWidth) and (max-width: $maxWidth) {
        width: 100%;
        font-size: 12px;
      }
    }
  }
  .image-container{
    height: 35rem;
    background-color: $white_color;
    padding: 0;
    display: flex;
    margin-top: 8rem;
    z-index: 1;
    @media only screen and (min-width: $minWidth) and (max-width: $maxWidth) {
      flex-direction: column;
      height: auto;
    }
    .first-block{
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height: 50%;
      width: 100%;
      &:nth-child(1){
        background-image: url("../img/Sections/image1-fb.jpg");
        @media only screen and (min-width: $minWidth) and (max-width: $maxWidth) {
          height: 60rem;
        }
      }
      &:nth-child(2){
        background-image: url("../img/Sections/image2-fb.jpg");
      }
    }
    .second-block{
      background-image: url("../img/Sections/image1-sb.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height: 100%;
      width: 100%;
    }
    .third-block{
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      &:nth-child(1){
        background-image: url("../img/Sections/image1-tb.jpg");
        height: 50%;
        width: 100%;
      }
      &:nth-child(2){
        background-image: url("../img/Sections/image2-tb.jpg");
        height: 50%;
        width: 50%;
        @media only screen and (min-width: $minWidth) and (max-width: $maxWidth) {
          width: 100%;
        }
      }
      &:nth-child(3){
        background-image: url("../img/Sections/image2-tb.png");
        height: 50%;
        width: 50%;
        @media only screen and (min-width: $minWidth) and (max-width: $maxWidth) {
          width: 100%;
        }
      }
    }
  }
}
#work-count{
  background-color: $grayBack;
  padding:8rem 0rem;
  @media only screen and (min-width: $minWidth) and (max-width: $maxWidth) {
    padding-bottom: 0;
  }
  .count-container{
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    @media only screen and (min-width: $minWidth) and (max-width: $maxWidth) {
      flex-direction: column;
      align-items: center;
    }
    .count-context{

      h2{
        font-family: $MerriB_font;
        display: inline-block;
        position: relative;
        z-index: 1;
        &:after{
          background-color: #5328fe;
          content: '';
          height: 40%;
          left: -15%;
          position: absolute;
          width: 118%;
          z-index: -1;
          bottom: 0%;
        }
        &:before{
          content: '';
          border-top: 1.5px solid #fff;
          position: absolute;
          bottom: 0%;
          left: -130%;
          width: 100%;
        }
      }
      p{
        font-family: $PoppinsL_font;
        font-size: 0.8rem;
        font-weight: bold;
        letter-spacing: 1px;
      }
    }
  }
}
#testimonials{
  background-color: $grayBack;
  padding:8rem 0rem;
  text-align: center;
  overflow: hidden;
  @media only screen and (min-width: $minWidth) and (max-width: $maxWidth) {
    height: auto;
  }
  h1{
    font-size: 58px;
    letter-spacing: 7px;
    line-height: 68px;
    color: rgb(255,255,255);
    font-family: $MerriL_font;
    font-weight: bold;
    text-align: center;
    position: relative;
    margin-bottom: 8rem;
    @media only screen and (min-width: $minWidth) and (max-width: $maxWidth) {
      font-size: 35px;
    }
    &:after{
      height: 80px;
      display: block;
      width: 1px;
      background: white;
      border-right: 1px white;
      content: '';
      bottom: -140%;
      position: absolute;
      right: 50%;
    }
      }
    .slider-container{
      width: 40rem!important;
      position: relative;
      z-index: 1;
      @media only screen and (min-width: $minWidth) and (max-width: $maxWidth) {
        width: 100%!important;
      }
      .number-slider{
        position: absolute;
        z-index: 1;
        top:2rem;
        left: 0.5rem;
        @media only screen and (min-width: $minWidth) and (max-width: $maxWidth) {
          position: initial;
        }
        h2{
          font-family: $PoppinsB_font;
          font-size: 60px;
          letter-spacing: 6px;
          line-height: 40px;
          position: relative;
          &:after{
            background-color: #5328fe;
            bottom: -30%;
            content: '';
            height: 75%;
            left: -30%;
            position: absolute;
            width: 80%;
            z-index: -1;
          }
        }
      }
      .slide-description{
        p{
          position: absolute;
          right: 0;
          width: 331px;
          height: 145px;
          font-size: 12px;
          letter-spacing: 0px;
          line-height: 28px;
          font-family: $PoppinsL_font;
          z-index: 1;
          top: 8rem;
          @media only screen and (min-width: $minWidth) and (max-width: $maxWidth) {
            position: initial;
            width: 100%!important;
          }

        }
      }
      .slider-items{
        width: 22rem;
        height: 22rem;
        background-color: $gray_color;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        @media only screen and (min-width: $minWidth) and (max-width: $maxWidth) {
          width: 100%;
          margin-top: 2rem;
        }
        .slide-picture{
          width: 11rem;
          height: 11rem;
          background-color: $black_color;
          &:nth-child(1){
            background-image: url("../img/Sections/image1-slider.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
          }
          &:nth-child(2){
            background-image: url("../img/Sections/image2-slider.jpeg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
          }
          &:nth-child(3){
            background-image: url("../img/Sections/image2-slider.jpeg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
          }
        }
        .slide-text{
          text-align: center;
          position: absolute;
          bottom: 0;
          font-family: $PoppinsL_font;
          h3{
            font-size: 18px;
            b{
              font-weight: bold;
            }
          }
          p{
            font-size: 12px;
          }
        }
        &:before{
          content: '';
          border-top: 1px solid #fff;
          position: absolute;
          bottom: 14.5rem;
          right: -2%;
          width: 32%;
        }
        &:after{
          background-color: $blackWopacity_color;
          content: '';
          height: 100%;
          right: -50%;
          position: absolute;
          width: 100%;
          z-index: -1;
          bottom: 0%;
        }
      }
    }

  .slider {
      width: auto;
      margin: 30px 50px 50px;
  }
  .slick-slide {
      color: white;
      padding: 40px 0;
      font-size: 30px;
      font-family: "Arial", "Helvetica";
      text-align: center;
      margin: 0;

  }
  // .slick-list {
  //     margin: 0 -25rem;
  // }
  .slick-prev:before,
  .slick-next:before {
      color: white;
  }

  .buttons-slider{
    font-family: $PoppinsL_font;
    button{
      background-color: transparent;
      border-color: transparent;
      color: $white_color;
      font-size: 14px;
      letter-spacing: 2px;
      line-height: 32px;
      cursor: pointer;
      position: relative;
      &:nth-child(1){
        margin-right: 8rem;
        @media only screen and (min-width: $minWidth) and (max-width: $maxWidth) {
          margin-right: 4rem;
        }
        &:before{
          content: '';
          border-top: 1.5px solid #fff;
          position: absolute;
          bottom: 50%;
          right: -100%;
          width: 100%;
        }
      }
      &:nth-child(3){
        margin-left: 8rem;
        @media only screen and (min-width: $minWidth) and (max-width: $maxWidth) {
          margin-left: 4rem;
        }
        &:before{
          content: '';
          border-top: 1.5px solid #fff;
          position: absolute;
          bottom: 50%;
          left: -100%;
          width: 100%;
        }
      }

    }
    span{
      font-size: 12px;
      letter-spacing: 1px;
      line-height: 24px;
      position: relative;
    }
  }

}
#pricing{
  background-color: $grayBack;
  padding:8rem 0rem;
  position: relative;
  overflow: hidden;
  .col-md-10{
    margin: 0 auto;
    position: relative;
    z-index: 1;
    &:before{
      content: '06.';
      font-family: $PoppinsB_font;
      position: absolute;
      bottom: -95%;
      left: -15%;
      font-size: 10rem;
      color:$blackWopacity_color;
      z-index: -1;
    }
    h1{
      font-family: $MerriB_font;
      letter-spacing: 5px;
      position: relative;
      margin-bottom: 2rem;
      &:before{
        content: '';
        border-top: 2px solid #fff;
        position: absolute;
        bottom: -20%;
        left: -5%;
        width: 10%;
      }
    }
    p{
      width: 50%;
      font-family: $PoppinsL_font;
      font-size: 0.8rem;
      @media only screen and (min-width: $minWidth) and (max-width: $maxWidth) {
        width: 100%;
      }
    }
  }
  .container-fluid{
    padding: 0;
    .col-md-12{
      display: flex;
      padding: 0;
      margin-top: 3rem;
      @media only screen and (min-width: $minWidth) and (max-width: $maxWidth) {
        flex-direction: column;
      }
      .pricing-item{
        width: calc(100%/4);
        height: auto;
        z-index: 1;
        @media only screen and (min-width: $minWidth) and (max-width: $maxWidth) {
          width: 100%;
        }
        &:nth-child(1){
          background-image: url("../img/Sections/image1-pricing.jpg");
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
        &:nth-child(2){
          background-image: url("../img/Sections/image2-pricing.jpg");
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
        &:nth-child(3){
          background-image: url("../img/Sections/image3-pricing.jpg");
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
        &:nth-child(4){
          background-image: url("../img/Sections/image4-pricing.jpg");
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
        .item-info{
          height: 100%;
          padding: 2rem;
          h3{
            font-family: $MerriB_font;
            font-size: 1.5rem;
            letter-spacing: 2px;
            margin-bottom: 2rem;
            position: relative;
            &:before{
              content: '';
              border-top: 2px solid #fff;
              position: absolute;
              bottom: 50%;
              left: -12%;
              width: 5%;
            }
            &:after{
              background-color: #5328fe;
              content: '';
              height: 30%;
              left: 0;
              position: absolute;
              width: 70%;
              z-index: -1;
              bottom: -10%;
            }
          }
          .pricing-options{
            margin-bottom: 1rem;
            p{
              margin: 0%;
            }
            .options-title{
              font-family: $PoppinsL_font;
              font-size: 0.8rem;
              letter-spacing: 1px;
            }
            .options-name{
              font-family: $PoppinsL_font;
              font-weight: bold;
              font-size: 0.8rem;
              letter-spacing: 1px;
            }
          }
          .footer-item{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 5rem;
            h4{
              font-family: $MerriB_font;
              font-size: 2rem;
              margin: 0;
            }
            h6{
              font-family: $PoppinsL_font;
              margin: 0;
              font-size: 0.7rem;
              font-weight: bold;
              letter-spacing: 1px;
              position: relative;
              &:before{
                content: '';
                border-top: 1px solid #fff;
                position: absolute;
                bottom: 50%;
                left: -90%;
                width: 70%;
              }
            }
          }
        }
      }
    }
  }
}
#logos{
  background-color: $grayBack;
  padding:8rem 0rem;
  position: relative;
  .col-md-12{
    display: flex;
    flex-wrap: wrap;
    .logo-container{
      width: calc(100%/4);
      @media only screen and (min-width: $minWidth) and (max-width: $maxWidth) {
        width: 50%;
        margin-bottom: 2rem;
      }
      img{
        width: 100%;
      }
    }
  }
}
#newsletter{
  background-color: $grayBack;
  padding:8rem 0rem;
  position: relative;
  .col-md-8{
    margin: 0 auto;
    h2{
      font-family: $MerriL_font;
      font-weight: bold;
      font-size: 2.5rem;
      text-align: center;
      letter-spacing: 3px;
      position: relative;
      margin-bottom: 10rem;
      &:after{
        height: 100px;
        display: block;
        width: 1px;
        background: white;
        border-right: 1px white;
        content: '';
        bottom: -125%;
        position: absolute;
        right: 50%;
        @media only screen and (min-width: $minWidth) and (max-width: $maxWidth) {
          bottom: -50%;
        }
      }
    }
    .input-group{
      input{
        border-radius: 0px;
        background-color: transparent;
        padding:1.5rem;
        font-family: $PoppinsL_font;
        font-size: 0.8rem;
        border-color: $white_color;
        color: $white_color!important;
        &::placeholder {
          color: $white_color;
        }
      }

      .input-group-append{
        button{
          border-radius: 0px;
          padding:1.5rem;
          font-family: $PoppinsB_font;
          font-size: 0.8rem;
          border-color: $white_color;
          color: $white_color;
        }
      }
    }
  }
}
#footer-info{
  background-color: $grayBack;
  padding:2rem 0rem 0rem 0rem;
  position: relative;
  .col-md-10{
    display: flex;
    margin: 0 auto;
    @media only screen and (min-width: $minWidth) and (max-width: $maxWidth) {
      flex-direction: column;
    }
    .info-items{
      width: calc(100%/3);
      @media only screen and (min-width: $minWidth) and (max-width: $maxWidth) {
        width: 100%;
        text-align: center;
        margin-bottom: 2rem;
      }
      h3{
        font-family: $MerriB_font;
        font-size: 0.9rem;
        letter-spacing: 2px;
        margin-bottom: 1rem;
      }
      p{
        font-family: $PoppinsL_font;
        font-size: 0.8rem;
      }
    }
  }
}
