@include font-face(MerriweatherLight, fonts/Merriweather/Merriweather-Light, null, null, ttf);
@include font-face(MerriweatherBold, fonts/Merriweather/Merriweather-Bold, null, null, ttf);
@include font-face(MerriweatherItalic, fonts/Merriweather/Merriweather-Italic, null, null, ttf);
@include font-face(MerriweatherLightItalic, fonts/Merriweather/Merriweather-LightItalic, null, null, ttf);
@include font-face(PoppinsLight, fonts/Poppins/Poppins-Light, null, null, ttf);
@include font-face(PoppinsBold, fonts/Poppins/Poppins-Bold, null, null, ttf);

$MerriL_font:MerriweatherLight;
$MerriB_font:MerriweatherBold;
$MerriI_font:MerriweatherItalic;
$MerriLI_font:MerriweatherLightItalic;
$PoppinsL_font:PoppinsLight;
$PoppinsB_font:PoppinsBold;
$h6_font:Poppins;
$grayBack:#111;
$purple:#5328fe;

$white_color:hsl(0, 0%, 100%);
$black_color:hsl(0, 0%, 0%);
$gray_color:hsl(0, 0%, 10%);
$blackWopacity_color:hsla(0, 0%, 0%,0.2);
$whiteWopacity_color:hsla(0, 0%,95%, 0.7);
$minWidth:320px;
$maxWidth:760px;
