#contact{
  background-color: $grayBack;
  padding:8rem 0rem 0rem 0rem;
  position: relative;
  overflow: hidden;
  z-index: 1;
  &:before{
    content: 'Contact';
    font-family: $PoppinsB_font;
    position: absolute;
    bottom: -9%;
    right: -13%;
    font-size: 10rem;
    color: $blackWopacity_color;
    z-index: -1;
    letter-spacing: 10px;
  }
  .contact-container{
    margin: 0 auto;
    .contact-head{
      margin-bottom: 1rem;
      h1{
        font-family: $MerriB_font;
        letter-spacing: 5px;
        position: relative;
        font-size: 3rem;
        &:before{
          content: '';
          border-top: 1.5px solid #fff;
          position: absolute;
          bottom: -35%;
          left: -6%;
          width: 12%;
        }
      }
    }
    .contact-text{
      padding: 0;
      display: flex;
      @media only screen and (min-width: $minWidth) and (max-width: $maxWidth) {
        flex-direction: column;
      }
      h6{
        font-family: $PoppinsL_font;
        font-size: 0.9rem;
        margin-top: 2rem;
        margin-bottom: 5rem;
      }
      a{
        text-decoration: none;
        color:$white_color;
        position: relative;
        z-index: 1;
        font-family: $MerriB_font;
        letter-spacing: 2px;
        &:after{
          background-color: #5328fe;
          content: '';
          height: 100%;
          left: -15%;
          position: absolute;
          width: 65%;
          z-index: -1;
          top: -50%;
        }
      }
    }
    .contact-map{
      background-image: url("../img/Sections/image-contact.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height: 25rem;
      background-color: $white_color;

    }
  }
}
