@font-face {
  font-family: "MerriweatherLight";
  src: url("fonts/Merriweather/Merriweather-Light.ttf") format("truetype"); }
@font-face {
  font-family: "MerriweatherBold";
  src: url("fonts/Merriweather/Merriweather-Bold.ttf") format("truetype"); }
@font-face {
  font-family: "MerriweatherItalic";
  src: url("fonts/Merriweather/Merriweather-Italic.ttf") format("truetype"); }
@font-face {
  font-family: "MerriweatherLightItalic";
  src: url("fonts/Merriweather/Merriweather-LightItalic.ttf") format("truetype"); }
@font-face {
  font-family: "PoppinsLight";
  src: url("fonts/Poppins/Poppins-Light.ttf") format("truetype"); }
@font-face {
  font-family: "PoppinsBold";
  src: url("fonts/Poppins/Poppins-Bold.ttf") format("truetype"); }
body {
  color: white !important; }

.vh-100 {
  height: 100vh; }

#sitenavbar {
  color: white;
  margin: 2rem 1rem; }
  @media only screen and (min-width: 320px) and (max-width: 760px) {
    #sitenavbar {
      background-color: #111;
      margin: 0;
      border-bottom: 1px solid #5328fe; } }
  #sitenavbar .nav-item {
    padding: 0 1rem; }
  #sitenavbar .active {
    position: relative; }
    #sitenavbar .active:after {
      background-color: #5328fe;
      content: '';
      height: 60%;
      left: -5%;
      position: absolute;
      width: 50%;
      z-index: -1;
      top: -5%; }
      @media only screen and (min-width: 320px) and (max-width: 760px) {
        #sitenavbar .active:after {
          height: 50%;
          right: 15%;
          bottom: 25%;
          left: auto;
          top: auto; } }
  #sitenavbar a {
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 24px;
    color: #fefefe;
    font-family: PoppinsLight;
    text-align: right;
    position: relative; }

#main {
  height: 100vh;
  background-color: #1a1a1a;
  width: 100%;
  background-image: url(../img/Sections/main.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: #fff;
  height: 100vh;
  position: relative; }
  #main .row {
    height: 100%;
    align-items: center;
    justify-content: center; }
    #main .row .main-social {
      position: absolute;
      transform: rotate(-90deg);
      left: -4%;
      top: 48%; }
      @media only screen and (min-width: 320px) and (max-width: 760px) {
        #main .row .main-social {
          left: -23%; } }
      #main .row .main-social a {
        padding: 0rem 0.5rem;
        font-size: 12px;
        letter-spacing: 1px;
        line-height: 24px;
        color: #fefefe;
        font-family: MerriweatherLight;
        text-align: center;
        text-decoration: none; }
        @media only screen and (min-width: 320px) and (max-width: 760px) {
          #main .row .main-social a {
            font-size: 8px; } }
        #main .row .main-social a:hover {
          color: #5328fe; }
    #main .row .main-explore {
      position: absolute;
      transform: rotate(-90deg);
      right: 0%;
      bottom: 52%; }
      @media only screen and (min-width: 320px) and (max-width: 760px) {
        #main .row .main-explore {
          right: -4%; } }
      #main .row .main-explore a {
        font-size: 14px;
        letter-spacing: 2px;
        line-height: 32px;
        color: white;
        font-family: PoppinsLight;
        position: relative;
        text-decoration: none; }
        @media only screen and (min-width: 320px) and (max-width: 760px) {
          #main .row .main-explore a {
            font-size: 8px; } }
        #main .row .main-explore a:before {
          content: '';
          border-top: 1.5px solid #fff;
          position: absolute;
          bottom: 40%;
          left: -65%;
          width: 48%; }
        #main .row .main-explore a:hover {
          color: #5328fe; }
    #main .row .main-container {
      width: 68%; }
      @media only screen and (min-width: 320px) and (max-width: 760px) {
        #main .row .main-container {
          width: 80%; } }
      #main .row .main-container h6 {
        font-size: 14px;
        letter-spacing: 5px;
        line-height: 68px;
        color: white;
        font-family: PoppinsLight;
        font-weight: bold; }
        @media only screen and (min-width: 320px) and (max-width: 760px) {
          #main .row .main-container h6 {
            font-size: 10px; } }
      #main .row .main-container h1 {
        font-size: 58px;
        letter-spacing: 7px;
        line-height: 68px;
        color: white;
        font-family: MerriweatherLight;
        font-weight: bold;
        margin-bottom: 3rem;
        position: relative; }
        @media only screen and (min-width: 320px) and (max-width: 760px) {
          #main .row .main-container h1 {
            font-size: 22px; } }
        #main .row .main-container h1:before {
          content: '';
          border-top: 2px solid #fff;
          position: absolute;
          bottom: -20%;
          left: -6%;
          width: 12%; }
          @media only screen and (min-width: 320px) and (max-width: 760px) {
            #main .row .main-container h1:before {
              left: 0; } }
      #main .row .main-container h2 {
        font-family: MerriweatherLight; }
      #main .row .main-container p {
        width: 497px;
        height: 187px;
        font-size: 14px;
        letter-spacing: 0px;
        line-height: 32px;
        color: PoppinsLight;
        font-family: PoppinsLight;
        font-weight: 300; }
        @media only screen and (min-width: 320px) and (max-width: 760px) {
          #main .row .main-container p {
            width: 100%;
            font-size: 12px;
            line-height: 16px; } }
      #main .row .main-container a {
        position: relative;
        z-index: 2;
        font-size: 14px;
        letter-spacing: 1px;
        line-height: 32px;
        color: white;
        font-family: MerriweatherLight;
        font-weight: bold; }
        #main .row .main-container a:before {
          content: '';
          background-color: #5328fe;
          width: 100%;
          height: 100%;
          position: absolute;
          left: -35%;
          top: -50%;
          opacity: 1;
          z-index: -1;
          transition: all 0.6s 0s cubic-bezier(0.7, 0, 0.3, 1); }

#hello {
  background-color: #111;
  min-height: 100vh;
  width: 100%;
  position: relative;
  z-index: 1;
  overflow: hidden; }
  #hello:before {
    content: 'About Us';
    font-family: PoppinsBold;
    color: #0f0f0f;
    position: absolute;
    bottom: 50%;
    left: 5%;
    font-size: 12rem;
    color: rgba(0, 0, 0, 0.2);
    z-index: -1;
    letter-spacing: 2rem; }
  #hello .container, #hello .row {
    min-height: 100%;
    height: 100%; }
  #hello .hello-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 4rem; }
    #hello .hello-container .hello-picture {
      position: relative;
      margin-top: 5%;
      width: 20rem;
      height: 25rem;
      background-image: url("../img/Sections/about.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center; }
      #hello .hello-container .hello-picture:after {
        content: '';
        opacity: .4;
        position: absolute;
        z-index: -1;
        background-image: url(../img/dots-corner.svg);
        height: 62px;
        top: 50px;
        left: -72px;
        width: 62px; }
      #hello .hello-container .hello-picture:before {
        content: '';
        opacity: .4;
        position: absolute;
        z-index: -1;
        background-image: url(../img/dots-box.svg);
        height: 188px;
        bottom: 50px;
        right: -144px;
        width: 188px; }
      #hello .hello-container .hello-picture .picture-container:after {
        height: 100px;
        display: block;
        width: 1px;
        background: white;
        border-right: 1px white;
        content: '';
        bottom: -8%;
        position: absolute;
        right: 50%; }
  #hello .hello-quote {
    text-align: center;
    margin: 0 auto; }
    #hello .hello-quote h2 {
      position: relative;
      z-index: 1;
      display: inline-block;
      font-size: 58px;
      letter-spacing: 7px;
      line-height: 68px;
      color: white;
      font-family: MerriweatherLight;
      font-weight: bold;
      text-align: center; }
      @media only screen and (min-width: 320px) and (max-width: 760px) {
        #hello .hello-quote h2 {
          font-size: 40px; } }
      #hello .hello-quote h2:after {
        background-color: #5328fe;
        bottom: 0;
        content: '';
        height: 40%;
        left: 0;
        position: absolute;
        width: 100%;
        z-index: -1; }
    #hello .hello-quote blockquote p {
      margin: 0 auto;
      width: 770px;
      height: 170px;
      font-size: 18px;
      line-height: 40px;
      color: white;
      font-family: MerriweatherLight;
      font-weight: 300;
      font-style: italic;
      text-align: center; }
      @media only screen and (min-width: 320px) and (max-width: 760px) {
        #hello .hello-quote blockquote p {
          width: 100%;
          font-size: 12px;
          line-height: 25px; } }
    #hello .hello-quote blockquote cite {
      font-family: PoppinsLight;
      font-style: normal;
      font-size: 0.9rem; }

#works {
  background-color: #111;
  padding: 8rem 0rem; }
  #works .col-md-10 {
    margin: 0 auto;
    position: relative;
    z-index: 1; }
    #works .col-md-10:before {
      content: '03.';
      font-family: PoppinsBold;
      position: absolute;
      bottom: -95%;
      left: -15%;
      font-size: 10rem;
      color: rgba(0, 0, 0, 0.2);
      z-index: -1; }
    #works .col-md-10 h1 {
      position: relative;
      margin-bottom: 3rem;
      font-size: 58px;
      letter-spacing: 7px;
      line-height: 68px;
      color: white;
      font-family: MerriweatherBold; }
      @media only screen and (min-width: 320px) and (max-width: 760px) {
        #works .col-md-10 h1 {
          font-size: 40px; } }
      #works .col-md-10 h1:before {
        content: '';
        border-top: 2px solid #fff;
        position: absolute;
        bottom: -30%;
        left: -5%;
        width: 12%; }
    #works .col-md-10 p {
      width: 499px;
      height: 79px;
      font-size: 14px;
      letter-spacing: 0px;
      line-height: 32px;
      color: white;
      font-family: PoppinsLight;
      font-weight: 300; }
      @media only screen and (min-width: 320px) and (max-width: 760px) {
        #works .col-md-10 p {
          width: 100%;
          font-size: 12px; } }
  #works .image-container {
    height: 35rem;
    background-color: white;
    padding: 0;
    display: flex;
    margin-top: 8rem;
    z-index: 1; }
    @media only screen and (min-width: 320px) and (max-width: 760px) {
      #works .image-container {
        flex-direction: column;
        height: auto; } }
    #works .image-container .first-block {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height: 50%;
      width: 100%; }
      #works .image-container .first-block:nth-child(1) {
        background-image: url("../img/Sections/image1-fb.jpg"); }
        @media only screen and (min-width: 320px) and (max-width: 760px) {
          #works .image-container .first-block:nth-child(1) {
            height: 60rem; } }
      #works .image-container .first-block:nth-child(2) {
        background-image: url("../img/Sections/image2-fb.jpg"); }
    #works .image-container .second-block {
      background-image: url("../img/Sections/image1-sb.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height: 100%;
      width: 100%; }
    #works .image-container .third-block {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center; }
      #works .image-container .third-block:nth-child(1) {
        background-image: url("../img/Sections/image1-tb.jpg");
        height: 50%;
        width: 100%; }
      #works .image-container .third-block:nth-child(2) {
        background-image: url("../img/Sections/image2-tb.jpg");
        height: 50%;
        width: 50%; }
        @media only screen and (min-width: 320px) and (max-width: 760px) {
          #works .image-container .third-block:nth-child(2) {
            width: 100%; } }
      #works .image-container .third-block:nth-child(3) {
        background-image: url("../img/Sections/image2-tb.png");
        height: 50%;
        width: 50%; }
        @media only screen and (min-width: 320px) and (max-width: 760px) {
          #works .image-container .third-block:nth-child(3) {
            width: 100%; } }

#work-count {
  background-color: #111;
  padding: 8rem 0rem; }
  @media only screen and (min-width: 320px) and (max-width: 760px) {
    #work-count {
      padding-bottom: 0; } }
  #work-count .count-container {
    display: flex;
    margin: 0 auto;
    justify-content: space-around; }
    @media only screen and (min-width: 320px) and (max-width: 760px) {
      #work-count .count-container {
        flex-direction: column;
        align-items: center; } }
    #work-count .count-container .count-context h2 {
      font-family: MerriweatherBold;
      display: inline-block;
      position: relative;
      z-index: 1; }
      #work-count .count-container .count-context h2:after {
        background-color: #5328fe;
        content: '';
        height: 40%;
        left: -15%;
        position: absolute;
        width: 118%;
        z-index: -1;
        bottom: 0%; }
      #work-count .count-container .count-context h2:before {
        content: '';
        border-top: 1.5px solid #fff;
        position: absolute;
        bottom: 0%;
        left: -130%;
        width: 100%; }
    #work-count .count-container .count-context p {
      font-family: PoppinsLight;
      font-size: 0.8rem;
      font-weight: bold;
      letter-spacing: 1px; }

#testimonials {
  background-color: #111;
  padding: 8rem 0rem;
  text-align: center;
  overflow: hidden; }
  @media only screen and (min-width: 320px) and (max-width: 760px) {
    #testimonials {
      height: auto; } }
  #testimonials h1 {
    font-size: 58px;
    letter-spacing: 7px;
    line-height: 68px;
    color: white;
    font-family: MerriweatherLight;
    font-weight: bold;
    text-align: center;
    position: relative;
    margin-bottom: 8rem; }
    @media only screen and (min-width: 320px) and (max-width: 760px) {
      #testimonials h1 {
        font-size: 35px; } }
    #testimonials h1:after {
      height: 80px;
      display: block;
      width: 1px;
      background: white;
      border-right: 1px white;
      content: '';
      bottom: -140%;
      position: absolute;
      right: 50%; }
  #testimonials .slider-container {
    width: 40rem !important;
    position: relative;
    z-index: 1; }
    @media only screen and (min-width: 320px) and (max-width: 760px) {
      #testimonials .slider-container {
        width: 100% !important; } }
    #testimonials .slider-container .number-slider {
      position: absolute;
      z-index: 1;
      top: 2rem;
      left: 0.5rem; }
      @media only screen and (min-width: 320px) and (max-width: 760px) {
        #testimonials .slider-container .number-slider {
          position: initial; } }
      #testimonials .slider-container .number-slider h2 {
        font-family: PoppinsBold;
        font-size: 60px;
        letter-spacing: 6px;
        line-height: 40px;
        position: relative; }
        #testimonials .slider-container .number-slider h2:after {
          background-color: #5328fe;
          bottom: -30%;
          content: '';
          height: 75%;
          left: -30%;
          position: absolute;
          width: 80%;
          z-index: -1; }
    #testimonials .slider-container .slide-description p {
      position: absolute;
      right: 0;
      width: 331px;
      height: 145px;
      font-size: 12px;
      letter-spacing: 0px;
      line-height: 28px;
      font-family: PoppinsLight;
      z-index: 1;
      top: 8rem; }
      @media only screen and (min-width: 320px) and (max-width: 760px) {
        #testimonials .slider-container .slide-description p {
          position: initial;
          width: 100% !important; } }
    #testimonials .slider-container .slider-items {
      width: 22rem;
      height: 22rem;
      background-color: #1a1a1a;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative; }
      @media only screen and (min-width: 320px) and (max-width: 760px) {
        #testimonials .slider-container .slider-items {
          width: 100%;
          margin-top: 2rem; } }
      #testimonials .slider-container .slider-items .slide-picture {
        width: 11rem;
        height: 11rem;
        background-color: black; }
        #testimonials .slider-container .slider-items .slide-picture:nth-child(1) {
          background-image: url("../img/Sections/image1-slider.jpg");
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center; }
        #testimonials .slider-container .slider-items .slide-picture:nth-child(2) {
          background-image: url("../img/Sections/image2-slider.jpeg");
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center; }
        #testimonials .slider-container .slider-items .slide-picture:nth-child(3) {
          background-image: url("../img/Sections/image2-slider.jpeg");
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center; }
      #testimonials .slider-container .slider-items .slide-text {
        text-align: center;
        position: absolute;
        bottom: 0;
        font-family: PoppinsLight; }
        #testimonials .slider-container .slider-items .slide-text h3 {
          font-size: 18px; }
          #testimonials .slider-container .slider-items .slide-text h3 b {
            font-weight: bold; }
        #testimonials .slider-container .slider-items .slide-text p {
          font-size: 12px; }
      #testimonials .slider-container .slider-items:before {
        content: '';
        border-top: 1px solid #fff;
        position: absolute;
        bottom: 14.5rem;
        right: -2%;
        width: 32%; }
      #testimonials .slider-container .slider-items:after {
        background-color: rgba(0, 0, 0, 0.2);
        content: '';
        height: 100%;
        right: -50%;
        position: absolute;
        width: 100%;
        z-index: -1;
        bottom: 0%; }
  #testimonials .slider {
    width: auto;
    margin: 30px 50px 50px; }
  #testimonials .slick-slide {
    color: white;
    padding: 40px 0;
    font-size: 30px;
    font-family: "Arial", "Helvetica";
    text-align: center;
    margin: 0; }
  #testimonials .slick-prev:before,
  #testimonials .slick-next:before {
    color: white; }
  #testimonials .buttons-slider {
    font-family: PoppinsLight; }
    #testimonials .buttons-slider button {
      background-color: transparent;
      border-color: transparent;
      color: white;
      font-size: 14px;
      letter-spacing: 2px;
      line-height: 32px;
      cursor: pointer;
      position: relative; }
      #testimonials .buttons-slider button:nth-child(1) {
        margin-right: 8rem; }
        @media only screen and (min-width: 320px) and (max-width: 760px) {
          #testimonials .buttons-slider button:nth-child(1) {
            margin-right: 4rem; } }
        #testimonials .buttons-slider button:nth-child(1):before {
          content: '';
          border-top: 1.5px solid #fff;
          position: absolute;
          bottom: 50%;
          right: -100%;
          width: 100%; }
      #testimonials .buttons-slider button:nth-child(3) {
        margin-left: 8rem; }
        @media only screen and (min-width: 320px) and (max-width: 760px) {
          #testimonials .buttons-slider button:nth-child(3) {
            margin-left: 4rem; } }
        #testimonials .buttons-slider button:nth-child(3):before {
          content: '';
          border-top: 1.5px solid #fff;
          position: absolute;
          bottom: 50%;
          left: -100%;
          width: 100%; }
    #testimonials .buttons-slider span {
      font-size: 12px;
      letter-spacing: 1px;
      line-height: 24px;
      position: relative; }

#pricing {
  background-color: #111;
  padding: 8rem 0rem;
  position: relative;
  overflow: hidden; }
  #pricing .col-md-10 {
    margin: 0 auto;
    position: relative;
    z-index: 1; }
    #pricing .col-md-10:before {
      content: '06.';
      font-family: PoppinsBold;
      position: absolute;
      bottom: -95%;
      left: -15%;
      font-size: 10rem;
      color: rgba(0, 0, 0, 0.2);
      z-index: -1; }
    #pricing .col-md-10 h1 {
      font-family: MerriweatherBold;
      letter-spacing: 5px;
      position: relative;
      margin-bottom: 2rem; }
      #pricing .col-md-10 h1:before {
        content: '';
        border-top: 2px solid #fff;
        position: absolute;
        bottom: -20%;
        left: -5%;
        width: 10%; }
    #pricing .col-md-10 p {
      width: 50%;
      font-family: PoppinsLight;
      font-size: 0.8rem; }
      @media only screen and (min-width: 320px) and (max-width: 760px) {
        #pricing .col-md-10 p {
          width: 100%; } }
  #pricing .container-fluid {
    padding: 0; }
    #pricing .container-fluid .col-md-12 {
      display: flex;
      padding: 0;
      margin-top: 3rem; }
      @media only screen and (min-width: 320px) and (max-width: 760px) {
        #pricing .container-fluid .col-md-12 {
          flex-direction: column; } }
      #pricing .container-fluid .col-md-12 .pricing-item {
        width: calc(100%/4);
        height: auto;
        z-index: 1; }
        @media only screen and (min-width: 320px) and (max-width: 760px) {
          #pricing .container-fluid .col-md-12 .pricing-item {
            width: 100%; } }
        #pricing .container-fluid .col-md-12 .pricing-item:nth-child(1) {
          background-image: url("../img/Sections/image1-pricing.jpg");
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center; }
        #pricing .container-fluid .col-md-12 .pricing-item:nth-child(2) {
          background-image: url("../img/Sections/image2-pricing.jpg");
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center; }
        #pricing .container-fluid .col-md-12 .pricing-item:nth-child(3) {
          background-image: url("../img/Sections/image3-pricing.jpg");
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center; }
        #pricing .container-fluid .col-md-12 .pricing-item:nth-child(4) {
          background-image: url("../img/Sections/image4-pricing.jpg");
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center; }
        #pricing .container-fluid .col-md-12 .pricing-item .item-info {
          height: 100%;
          padding: 2rem; }
          #pricing .container-fluid .col-md-12 .pricing-item .item-info h3 {
            font-family: MerriweatherBold;
            font-size: 1.5rem;
            letter-spacing: 2px;
            margin-bottom: 2rem;
            position: relative; }
            #pricing .container-fluid .col-md-12 .pricing-item .item-info h3:before {
              content: '';
              border-top: 2px solid #fff;
              position: absolute;
              bottom: 50%;
              left: -12%;
              width: 5%; }
            #pricing .container-fluid .col-md-12 .pricing-item .item-info h3:after {
              background-color: #5328fe;
              content: '';
              height: 30%;
              left: 0;
              position: absolute;
              width: 70%;
              z-index: -1;
              bottom: -10%; }
          #pricing .container-fluid .col-md-12 .pricing-item .item-info .pricing-options {
            margin-bottom: 1rem; }
            #pricing .container-fluid .col-md-12 .pricing-item .item-info .pricing-options p {
              margin: 0%; }
            #pricing .container-fluid .col-md-12 .pricing-item .item-info .pricing-options .options-title {
              font-family: PoppinsLight;
              font-size: 0.8rem;
              letter-spacing: 1px; }
            #pricing .container-fluid .col-md-12 .pricing-item .item-info .pricing-options .options-name {
              font-family: PoppinsLight;
              font-weight: bold;
              font-size: 0.8rem;
              letter-spacing: 1px; }
          #pricing .container-fluid .col-md-12 .pricing-item .item-info .footer-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 5rem; }
            #pricing .container-fluid .col-md-12 .pricing-item .item-info .footer-item h4 {
              font-family: MerriweatherBold;
              font-size: 2rem;
              margin: 0; }
            #pricing .container-fluid .col-md-12 .pricing-item .item-info .footer-item h6 {
              font-family: PoppinsLight;
              margin: 0;
              font-size: 0.7rem;
              font-weight: bold;
              letter-spacing: 1px;
              position: relative; }
              #pricing .container-fluid .col-md-12 .pricing-item .item-info .footer-item h6:before {
                content: '';
                border-top: 1px solid #fff;
                position: absolute;
                bottom: 50%;
                left: -90%;
                width: 70%; }

#logos {
  background-color: #111;
  padding: 8rem 0rem;
  position: relative; }
  #logos .col-md-12 {
    display: flex;
    flex-wrap: wrap; }
    #logos .col-md-12 .logo-container {
      width: calc(100%/4); }
      @media only screen and (min-width: 320px) and (max-width: 760px) {
        #logos .col-md-12 .logo-container {
          width: 50%;
          margin-bottom: 2rem; } }
      #logos .col-md-12 .logo-container img {
        width: 100%; }

#newsletter {
  background-color: #111;
  padding: 8rem 0rem;
  position: relative; }
  #newsletter .col-md-8 {
    margin: 0 auto; }
    #newsletter .col-md-8 h2 {
      font-family: MerriweatherLight;
      font-weight: bold;
      font-size: 2.5rem;
      text-align: center;
      letter-spacing: 3px;
      position: relative;
      margin-bottom: 10rem; }
      #newsletter .col-md-8 h2:after {
        height: 100px;
        display: block;
        width: 1px;
        background: white;
        border-right: 1px white;
        content: '';
        bottom: -125%;
        position: absolute;
        right: 50%; }
        @media only screen and (min-width: 320px) and (max-width: 760px) {
          #newsletter .col-md-8 h2:after {
            bottom: -50%; } }
    #newsletter .col-md-8 .input-group input {
      border-radius: 0px;
      background-color: transparent;
      padding: 1.5rem;
      font-family: PoppinsLight;
      font-size: 0.8rem;
      border-color: white;
      color: white !important; }
      #newsletter .col-md-8 .input-group input::placeholder {
        color: white; }
    #newsletter .col-md-8 .input-group .input-group-append button {
      border-radius: 0px;
      padding: 1.5rem;
      font-family: PoppinsBold;
      font-size: 0.8rem;
      border-color: white;
      color: white; }

#footer-info {
  background-color: #111;
  padding: 2rem 0rem 0rem 0rem;
  position: relative; }
  #footer-info .col-md-10 {
    display: flex;
    margin: 0 auto; }
    @media only screen and (min-width: 320px) and (max-width: 760px) {
      #footer-info .col-md-10 {
        flex-direction: column; } }
    #footer-info .col-md-10 .info-items {
      width: calc(100%/3); }
      @media only screen and (min-width: 320px) and (max-width: 760px) {
        #footer-info .col-md-10 .info-items {
          width: 100%;
          text-align: center;
          margin-bottom: 2rem; } }
      #footer-info .col-md-10 .info-items h3 {
        font-family: MerriweatherBold;
        font-size: 0.9rem;
        letter-spacing: 2px;
        margin-bottom: 1rem; }
      #footer-info .col-md-10 .info-items p {
        font-family: PoppinsLight;
        font-size: 0.8rem; }

#main-about {
  background-color: #111;
  padding: 8rem 0rem;
  position: relative;
  overflow: hidden; }
  #main-about .row {
    display: flex;
    justify-content: center; }
    @media only screen and (min-width: 320px) and (max-width: 760px) {
      #main-about .row {
        flex-direction: column; } }
    #main-about .row .col-md-8 {
      margin-top: 10rem; }
      #main-about .row .col-md-8 h1 {
        font-family: MerriweatherLightItalic;
        text-align: center;
        letter-spacing: 2px; }
        #main-about .row .col-md-8 h1:before {
          background-image: url(../img/marks.svg);
          background-repeat: no-repeat;
          background-position: center;
          content: '';
          height: 52px;
          margin: 0 auto;
          position: absolute;
          top: -70%;
          left: 0;
          right: 0;
          width: 60px; }
        #main-about .row .col-md-8 h1:after {
          height: 100px;
          display: block;
          width: 1px;
          background: white;
          border-right: 1px white;
          content: '';
          bottom: -125%;
          position: absolute;
          right: 50%; }
          @media only screen and (min-width: 320px) and (max-width: 760px) {
            #main-about .row .col-md-8 h1:after {
              bottom: -70%; } }
    #main-about .row .about-items:nth-child(2) {
      margin-top: 15rem;
      z-index: 1; }
      #main-about .row .about-items:nth-child(2) .col-md-4 {
        background-image: url("../img/Sections/image1-about.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 26rem;
        background-color: black;
        position: relative; }
        #main-about .row .about-items:nth-child(2) .col-md-4:before {
          content: '01.';
          font-family: PoppinsBold;
          position: absolute;
          top: -12%;
          left: -10%;
          font-size: 5rem;
          color: white; }
          @media only screen and (min-width: 320px) and (max-width: 760px) {
            #main-about .row .about-items:nth-child(2) .col-md-4:before {
              left: 0%; } }
        #main-about .row .about-items:nth-child(2) .col-md-4:after {
          content: '';
          opacity: .4;
          position: absolute;
          z-index: -1;
          background-image: url(../img/dots-box.svg);
          height: 188px;
          bottom: -17%;
          right: -22%;
          width: 188px; }
      #main-about .row .about-items:nth-child(2) .col-md-8 {
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 5rem; }
        @media only screen and (min-width: 320px) and (max-width: 760px) {
          #main-about .row .about-items:nth-child(2) .col-md-8 {
            padding: 1rem; } }
        #main-about .row .about-items:nth-child(2) .col-md-8 h6 {
          font-family: PoppinsLight;
          font-size: 0.9rem;
          letter-spacing: 2px;
          font-weight: bold; }
        #main-about .row .about-items:nth-child(2) .col-md-8 h2 {
          font-family: MerriweatherLight;
          font-weight: bold;
          letter-spacing: 2px;
          position: relative;
          margin-bottom: 2rem; }
          #main-about .row .about-items:nth-child(2) .col-md-8 h2:before {
            content: '';
            border-top: 1.5px solid #fff;
            position: absolute;
            bottom: -55%;
            left: -7%;
            width: 11%; }
        #main-about .row .about-items:nth-child(2) .col-md-8 p {
          font-family: PoppinsLight;
          font-size: 0.8rem;
          padding-left: 3rem; }
    #main-about .row .about-items:nth-child(3) {
      margin-top: 15rem;
      z-index: 1; }
      @media only screen and (min-width: 320px) and (max-width: 760px) {
        #main-about .row .about-items:nth-child(3) {
          margin-top: 5rem; } }
      #main-about .row .about-items:nth-child(3) .col-md-4 {
        background-image: url("../img/Sections/image2-about.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 26rem;
        background-color: black;
        position: relative; }
        #main-about .row .about-items:nth-child(3) .col-md-4:before {
          content: '02.';
          font-family: PoppinsBold;
          position: absolute;
          top: -12%;
          right: -10%;
          font-size: 5rem;
          color: white; }
          @media only screen and (min-width: 320px) and (max-width: 760px) {
            #main-about .row .about-items:nth-child(3) .col-md-4:before {
              right: 0%; } }
        #main-about .row .about-items:nth-child(3) .col-md-4:after {
          content: '';
          opacity: .4;
          position: absolute;
          z-index: -1;
          background-image: url(../img/dots-box.svg);
          height: 188px;
          bottom: -17%;
          left: -22%;
          width: 188px; }
      #main-about .row .about-items:nth-child(3) .col-md-8 {
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 5rem; }
        @media only screen and (min-width: 320px) and (max-width: 760px) {
          #main-about .row .about-items:nth-child(3) .col-md-8 {
            padding: 1rem; } }
        #main-about .row .about-items:nth-child(3) .col-md-8 h6 {
          font-family: PoppinsLight;
          font-size: 0.9rem;
          letter-spacing: 2px;
          font-weight: bold; }
        #main-about .row .about-items:nth-child(3) .col-md-8 h2 {
          font-family: MerriweatherLight;
          font-weight: bold;
          letter-spacing: 2px;
          position: relative;
          margin-bottom: 2rem; }
          #main-about .row .about-items:nth-child(3) .col-md-8 h2:before {
            content: '';
            border-top: 1.5px solid #fff;
            position: absolute;
            bottom: -55%;
            left: -7%;
            width: 11%; }
        #main-about .row .about-items:nth-child(3) .col-md-8 p {
          font-family: PoppinsLight;
          font-size: 0.8rem;
          padding-left: 3rem; }
    #main-about .row .about-items:nth-child(4) {
      margin-top: 15rem;
      z-index: 1; }
      #main-about .row .about-items:nth-child(4) .col-md-4 {
        background-image: url("../img/Sections/image3-about.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 26rem;
        background-color: black;
        position: relative; }
        #main-about .row .about-items:nth-child(4) .col-md-4:before {
          content: '03.';
          font-family: PoppinsBold;
          position: absolute;
          top: -12%;
          left: -10%;
          font-size: 5rem;
          color: white; }
          @media only screen and (min-width: 320px) and (max-width: 760px) {
            #main-about .row .about-items:nth-child(4) .col-md-4:before {
              left: 0%; } }
        #main-about .row .about-items:nth-child(4) .col-md-4:after {
          content: '';
          opacity: .4;
          position: absolute;
          z-index: -1;
          background-image: url(../img/dots-box.svg);
          height: 188px;
          bottom: -17%;
          right: -22%;
          width: 188px; }
      #main-about .row .about-items:nth-child(4) .col-md-8 {
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 5rem; }
        @media only screen and (min-width: 320px) and (max-width: 760px) {
          #main-about .row .about-items:nth-child(4) .col-md-8 {
            padding: 1rem; } }
        #main-about .row .about-items:nth-child(4) .col-md-8 h6 {
          font-family: PoppinsLight;
          font-size: 0.9rem;
          letter-spacing: 2px;
          font-weight: bold; }
        #main-about .row .about-items:nth-child(4) .col-md-8 h2 {
          font-family: MerriweatherLight;
          font-weight: bold;
          letter-spacing: 2px;
          position: relative;
          margin-bottom: 2rem; }
          #main-about .row .about-items:nth-child(4) .col-md-8 h2:before {
            content: '';
            border-top: 1.5px solid #fff;
            position: absolute;
            bottom: -55%;
            left: -7%;
            width: 11%; }
        #main-about .row .about-items:nth-child(4) .col-md-8 p {
          font-family: PoppinsLight;
          font-size: 0.8rem;
          padding-left: 3rem; }

#some-about {
  background-color: #1a1a1a;
  padding: 8rem 0rem;
  position: relative; }
  #some-about .col-md-10 {
    display: flex;
    margin: 0 auto; }
    @media only screen and (min-width: 320px) and (max-width: 760px) {
      #some-about .col-md-10 {
        flex-direction: column; } }
    #some-about .col-md-10 .some-info {
      width: calc(100%/3); }
      @media only screen and (min-width: 320px) and (max-width: 760px) {
        #some-about .col-md-10 .some-info {
          width: 100%;
          text-align: center;
          margin-bottom: 4rem; } }
      #some-about .col-md-10 .some-info h3 {
        font-family: MerriweatherBold;
        font-size: 1.5rem;
        letter-spacing: 3px;
        margin-bottom: 3rem;
        position: relative; }
        #some-about .col-md-10 .some-info h3:before {
          content: '';
          border-top: 1.5px solid #fff;
          position: absolute;
          bottom: -70%;
          left: 0%;
          width: 16%; }
      #some-about .col-md-10 .some-info .some-text {
        margin-bottom: 3rem; }
        #some-about .col-md-10 .some-info .some-text p:nth-child(1) {
          font-family: PoppinsBold;
          font-size: 0.9rem; }
        #some-about .col-md-10 .some-info .some-text p:nth-child(2) {
          font-family: PoppinsLight;
          font-size: 0.9rem; }
        #some-about .col-md-10 .some-info .some-text p:nth-child(3) {
          font-family: PoppinsLight;
          font-size: 0.9rem; }

#play {
  background-color: #111;
  padding: 0rem 0rem 5rem 0;
  position: relative; }
  #play .col-md-12 {
    background-image: url("../img/Sections/image-play.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 30rem;
    background-color: rgba(242, 242, 242, 0.7);
    display: flex;
    align-items: center;
    justify-content: center; }
    #play .col-md-12 button {
      border-radius: 50%;
      height: 6rem;
      width: 6rem;
      border: transparent;
      background: black;
      color: white;
      cursor: pointer;
      font-family: PoppinsBold;
      letter-spacing: 2px; }

#contact {
  background-color: #111;
  padding: 8rem 0rem 0rem 0rem;
  position: relative;
  overflow: hidden;
  z-index: 1; }
  #contact:before {
    content: 'Contact';
    font-family: PoppinsBold;
    position: absolute;
    bottom: -9%;
    right: -13%;
    font-size: 10rem;
    color: rgba(0, 0, 0, 0.2);
    z-index: -1;
    letter-spacing: 10px; }
  #contact .contact-container {
    margin: 0 auto; }
    #contact .contact-container .contact-head {
      margin-bottom: 1rem; }
      #contact .contact-container .contact-head h1 {
        font-family: MerriweatherBold;
        letter-spacing: 5px;
        position: relative;
        font-size: 3rem; }
        #contact .contact-container .contact-head h1:before {
          content: '';
          border-top: 1.5px solid #fff;
          position: absolute;
          bottom: -35%;
          left: -6%;
          width: 12%; }
    #contact .contact-container .contact-text {
      padding: 0;
      display: flex; }
      @media only screen and (min-width: 320px) and (max-width: 760px) {
        #contact .contact-container .contact-text {
          flex-direction: column; } }
      #contact .contact-container .contact-text h6 {
        font-family: PoppinsLight;
        font-size: 0.9rem;
        margin-top: 2rem;
        margin-bottom: 5rem; }
      #contact .contact-container .contact-text a {
        text-decoration: none;
        color: white;
        position: relative;
        z-index: 1;
        font-family: MerriweatherBold;
        letter-spacing: 2px; }
        #contact .contact-container .contact-text a:after {
          background-color: #5328fe;
          content: '';
          height: 100%;
          left: -15%;
          position: absolute;
          width: 65%;
          z-index: -1;
          top: -50%; }
    #contact .contact-container .contact-map {
      background-image: url("../img/Sections/image-contact.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height: 25rem;
      background-color: white; }

/*# sourceMappingURL=style.css.map */
